/*RESET*/
html, body, div, input, textarea, h1 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

/*Geral*/
.hidden {
  display: none;
}

/*Body*/
body {
  width: 100vw;
  padding: 0 30px;
  background-image: url('https://png.pngtree.com/thumb_back/fw800/background/20190830/pngtree-blue-and-tosca-smoke-background-image_312191.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
  #container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    height: 100vh;
  }
    h1 {
      margin-top: 30px;
      color: white;
      font-size: 2em;
    }
    textarea {
      margin-bottom: 10px;
      padding: 10px;
      resize: none;
    }
    #sendQuestion {
      height: 40px;
      padding: 10px;
      margin-bottom: 10px;
      font-weight: bolder;
      color: white;
      background-color: #515BF3;
    }
    #bola8 {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: white;
      height: 200px;
      width: 200px;
      border-radius: 100%;
      border: 40px solid black;
      box-shadow: 0px 0px 58px -24px rgba(255, 255, 255, 0.75);
    }

    #bola8.answers {
      border: none;
      background-color: black;
    }
      span#answers {
        background-color: #515BF3;
        min-height: 20px;
        border-radius: 20px;
        color: white;
        max-width: 50%;
        padding: 10px;
        text-align: center;
      }
      span#number8 {
        font-size: 100px;
        color: black;
      }

@media only screen and (min-width: 500px) {
  #container {
    flex-direction: row;  
    }
    h1, textarea, input {
      margin-bottom: 20px;
    }
    textarea {
      width: 80%;
    }
}

@media only screen and (min-width: 700px) {
  h1 {
    font-size: 3em;
    width: 100%;
    margin: 0;
    margin-top: 80px;
  }
}